<!DOCTYPE html>
<html>

<head>
    <% include ../head.ejs %>
</head>
<% include ../alertscript.ejs %>
<body>
    <% include ../navbar.ejs %>
    <div><br><br><br></div>
        <H1> Motorcycles </H1>


        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Plate</th>
                    <th>Brand</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <!-- <tr>
                    <td>
                        <a href="/listmotorcycle/001">001</a>
                    </td>
                    <td>
                        Not ready
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                        Ready
                    </td>
                    <td>X:150.555 Y:200.354</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>
                        ไม่พร้อม
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                        พร้อม
                    </td>
                    <td>X:150.555 Y:200.354</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>
                        ไม่พร้อม
                        <div class="ui fitted slider checkbox">
                            <input type="checkbox">
                            <label></label>
                        </div>
                        พร้อม
                    </td>
                    <td>X:150.555 Y:200.354</td>
                </tr> -->
                <% for(var i=0;i<morcyc.length;i++) { %>
                    <tr>
                        <td>
                            <a href="/admin/motorcycle/<%= morcyc[i]['_id'] %>">
                                <%= morcyc[i]['_id'] %>
                            </a>
                        </td>
                        <td>
                            <%= morcyc[i]['plate'] %>
                        </td>
                        <td>
                                <%= morcyc[i]['brand'] %>
                        </td>
                        <td>X:
                            <%= morcyc[i]['latlng']['lat'] %> Y:
                                <%= morcyc[i]['latlng']['lng'] %>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table>

</body>

<script>
    var morcyc = JSON.parse('<%- JSON.stringify(morcyc) %>');
    console.log(morcyc);

    $("#ready").on("change",function(){
        var data=$(this).val;
        alert(data);

    })
</script>

</html>