<!DOCTYPE html>
<html>

<head>
    <% include ../head.ejs %>
</head>
<% include ../alertscript.ejs %>
<body>
    <% include ../navbar.ejs %>
        <div style="margin: 2%;">
            <H1> User management system </H1>
            <hr>


            <ul class="nav nav-tabs">
                <li id="noneadmit" class="active">
                    <a href="#">Pending user</a>
                </li>
                <li id="admit">
                    <a href="#">User</a>
                </li>
                <li id="admin">
                        <a href="#">Admin</a>
                </li>
                <li id="all">
                    <a href="#">All User</a>
                </li>
            </ul>
            <div id="tableJS">
                <table class="ui selectable celled table">
                    <thead>
                        <tr>
                            <th>Request ID</th>
                            <th>Name</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(var i=0;i<users.length;i++) { %>
                            <% if(users[i]['pass'] == "PreUser"||users[i]['pass'] == "Requestor"){ %>
                            <tr>
                                <td>
                                    <a href="/admin/profile/<%= users[i]['_id'] %>"> <%= users[i]['_id'] %> </a>
                                </td>
                                <td>
                                    <%= users[i]['firstName'] %>
                                        <%= users[i]['lastName'] %>
                                </td>
                                <td>
                                    <font color="green">
                                        <i class="checkmark icon"></i>
                                    </font>
                                    <button  id="right" value="<%= users[i]['_id'] %>">Accept</button>
                                    <font color="red">
                                        <i class="remove icon"></i>
                                    </font>
                                    <button  id="wrong" value="<%= users[i]['_id'] %>">Reject</button>
                                </td>
                            </tr>
                            <% } %>
                            <% } %>

                    </tbody>
                </table>
            </div>
        </div>
        <script>
            

            var users = JSON.parse('<%- JSON.stringify(users) %>');
            console.log(users);
            var loadUserList = '<% for(var i=0;i<users.length;i++) { %><% if(users[i]["pass"] == "Requestor"){ %><tr><td><a href="/admin/profile/<%= users[i]["_id"] %>"><%= users[i]["_id"] %></a></td><td><%= users[i]["firstName"] %> <%= users[i]["lastName"] %></td><td><font color="green"><i class="checkmark icon"></i></font><button  id="right" value="<%= users[i]["_id"] %>">Accpet</button><font color="red"><i class="remove icon"></i></font><button  id="wrong" value="<%= users[i]["_id"] %>">Reject</button></td></tr><% } %><% } %>';
            var noneadmit = [
                '<table class="ui selectable celled table"><thead><tr><th>Request ID</th><th>Name</th><th>Status</th></tr></thead>',
                '<tbody>',
                loadUserList,
                '</tbody></table>',
            ].join('');
            var admit = [
            '<table class="ui selectable celled table"><thead><tr><th>User ID</th><th>Name</th><th>Phone Number</th><th>E-Mail</th><th>Status</th></tr></thead><tbody><% for(var i=0 ; i<users.length ; i++) { %><% if(users[i]["pass"] == "User"){ %><tr><td><a href="/admin/profile/<%= users[i]["_id"] %>"><%= users[i]["_id"] %></a></td><td><%= users[i]["firstName"] %> <%= users[i]["lastName"] %></td><td><%= users[i]["tel"] %></td><td><%= users[i]["email"] %></td><td><%= users[i]["pass"] %></td></tr><% } %><% } %></tbody></table>'
            ].join('');

            var admin = [
            '<table class="ui selectable celled table"><thead><tr><th>User ID</th><th>Name</th><th>Phone Number</th><th>E-Mail</th><th>Status</th></tr></thead><tbody><% for(var i=0 ; i<users.length ; i++) { %><% if(users[i]["pass"] == "Admin"){ %><tr><td><a href="/admin/profile/<%= users[i]["_id"] %>"><%= users[i]["_id"] %></a></td><td><%= users[i]["firstName"] %> <%= users[i]["lastName"] %></td><td><%= users[i]["tel"] %></td><td><%= users[i]["email"] %></td><td><%= users[i]["pass"] %></td></tr><% } %><% } %></tbody></table>'
            ].join('');


            var all = [
            '<table class="ui selectable celled table"><thead><tr><th>User ID</th><th>Name</th><th>Phone Number</th><th>E-Mail</th><th>Status</th></tr></thead><tbody><% for(var i=0 ; i<users.length ; i++) { %><tr><td><a href="/admin/profile/<%= users[i]["_id"] %>"><%= users[i]["_id"] %></a></td><td><%= users[i]["firstName"] %> <%= users[i]["lastName"] %></td><td><%= users[i]["tel"] %></td><td><%= users[i]["email"] %></td><td><%= users[i]["pass"] %></td></tr><% } %></tbody></table>'
            ].join('');

            $("#right").on("click", function () {
                console.log('Right333');
                var $id = $(this).val();
                console.log($id);
                $.ajax({
                    type: 'POST' ,
                    url : '/admin/add' ,
                    data : {
                        '_token': $('input[name=_token]').val(),
                        'id':$id
                    },
                    success : function(data){
                        if(data == true){ // if true (1)
                            alert("Insert successed");
                            setTimeout(function(){// wait for 1 secs(2)
                                location.reload(); // then reload the page.(3)
                            }, 1000); 
                        }
                    }
                })
            });

            $("#wrong").on("click", function () {
                console.log('del');
                var $id = $(this).val();
                console.log($id);
                $.ajax({
                    type: 'POST' ,
                    url : '/admin/del' ,
                    data : {
                        '_token': $('input[name=_token]').val(),
                        'id':$id
                    },
                    success : function(data){
                        if(data == true){ // if true (1)
                            alert("Delete successed");
                            setTimeout(function(){// wait for 1 secs(2)
                                location.reload(); // then reload the page.(3)
                            }, 1000); 
                        }
                    }
                })
            });

            $(document).on("click", "#noneadmit", function () {
                $("#noneadmit").attr("class", "active");
                $("#admit").attr("class", "");
                $("#admin").attr("class", "");
                $("#all").attr("class", "");
                document.getElementById('tableJS').innerHTML = "";
                document.getElementById('tableJS').innerHTML = noneadmit;
            });
            $(document).on("click", "#admit", function () {
                $("#noneadmit").attr("class", "");
                $("#admit").attr("class", "active");
                $("#admin").attr("class", "");
                $("#all").attr("class", "");
                document.getElementById('tableJS').innerHTML = "";
                document.getElementById('tableJS').innerHTML = admit;
            });
            $(document).on("click", "#admin", function () {
                $("#noneadmit").attr("class", "");
                $("#admit").attr("class", "");
                $("#admin").attr("class", "active");
                $("#all").attr("class", "");
                document.getElementById('tableJS').innerHTML = "";
                document.getElementById('tableJS').innerHTML = admin;
            });
            $(document).on("click", "#all", function () {
                $("#noneadmit").attr("class", "");
                $("#admit").attr("class", "");
                $("#admin").attr("class", "");
                $("#all").attr("class", "active");
                document.getElementById('tableJS').innerHTML = "";
                document.getElementById('tableJS').innerHTML = all;
            });

        </script>

</body>

</html>



