<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>
<% include alertscript.ejs %>
<body>
    <% include navbar.ejs %>
        <div style="margin:20px;">
            <h1>
                <%= morcyc['brand'] %>
            </h1>
            <hr>
            <table class="ui selectable celled table">
                <thead>
                    <tr>
                        <th>Picture</th>
                        <th>Infomation</th>
                        <th>Fault</th>
                        <th>Report</th>
                        <th>Position Log</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <div class="ui vertical labeled icon buttons">
                                <button class="ui button" id="img1">
                                    <i class="id card icon"></i>
                                    <i class="user icon"></i>
                                    Front
                                </button>
                                <button class="ui button" id="img3">
                                    <i class="id card outline icon"></i>
                                    Back
                                </button>
                                <button class="ui button" id="img2">
                                    <i class="id card icon"></i>
                                    Plate
                                </button>
                            </div>
                        </td>
                        <td>
                            <p>
                                <b>ID : </b>
                                <%= morcyc['_id'] %>
                            </p>
                            <p>
                                <b>Name : </b>
                                <%= morcyc['name'] %>
                            </p>
                            <p>
                                <b>Brand : </b>
                                <%= morcyc['brand'] %>
                            </p>
                            <p>
                                <b>Plate : </b>
                                <%= morcyc['plate'] %>
                            </p>
                            <p>
                                <b>latitude : </b>
                                <%= morcyc['latlng']['lat'] %>
                            </p>
                            <p>
                                <b>longitude : </b>
                                <%= morcyc['latlng']['lng'] %>
                            </p>
                            <p>
                                <b>Using : </b>
                                <%= morcyc['using'] %>
                            </p>
                        </td>
                        <td>
                            <p>
                                <b>อุณหภูมิน้ำหล่อเย็นเครื่อง : </b>
                                <font color="green">
                                    <i class="checkmark icon"></i>
                                </font>
                            </p>
                            <p>
                                <b>ตำแหน่งลิ้นเร่ง : </b>
                                <font color="green">
                                    <i class="checkmark icon"></i>
                                </font>
                            </p>
                            <p>
                                <b>หัวฉีดน้ำมันเชื้อเพลิง : </b>
                                <font color="green">
                                    <i class="checkmark icon"></i>
                                </font>
                            </p>
                            <p>
                                <b>ปริมาณออกซิเจน : </b>
                                <font color="green">
                                    <i class="checkmark icon"></i>
                                </font>
                            </p>
                        </td>
                        <td>
                            <% if(morcyc['status']!=null) { %>
                                <p>
                                    <b>Report by : </b>
                                    <%= morcyc['status']['userId'] %>
                                </p>
                                <p>
                                    <b>Brake light : </b>
                                    <%= morcyc['status']['BrakeLight'] %>
                                </p>
                                <p>
                                    <b>Tire : </b>
                                    <%= morcyc['status']['Tire'] %>
                                </p>
                                <p>
                                    <b>Dial : </b>
                                    <%= morcyc['status']['Dial'] %>
                                </p>
                                <p>
                                    <b>Brake : </b>
                                    <%= morcyc['status']['Brake'] %>
                                </p>
                                <p>
                                    <b>Turn Signal : </b>
                                    <%= morcyc['status']['TurnSignal'] %>
                                </p>
                                <p>
                                    <b>Headlight : </b>
                                    <%= morcyc['status']['Headlight'] %>
                                </p>
                                <p>
                                    <b>Gasoline : </b>
                                    <%= morcyc['status']['Gasoline'] %>
                                </p>
                                <p>
                                    <b>Horns : </b>
                                    <%= morcyc['status']['Horns'] %>
                                </p>
                                <p>
                                    <b>Detail : </b>
                                    <%= morcyc['status']['Detail'] %>
                                </p>
                                <% } %>
                        </td>
                        <td>
                            <% for(var i=0;i<30&&morcyc['history']!=null;i++) { %>
                                <p>
                                    <%= morcyc['history'][i] %>
                                </p>
                                <% } %>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- <div style="height:50%;">
            <div style="display: inline-block; width:49%;">
                <img src="{{asset('hqdefault.jpg')}}" width="100%" height="100%">
            </div>
            <div style="display: inline-block; width:49%;">
                <p><b>ID : </b>001</p>
                <p><b>Name : </b>John</p>
                <p><b>อุณหภูมิน้ำหล่อเย็นเครื่อง : </b>ปกติ</p>
                <p><b>ตำแหน่งลิ้นเร่ง : </b>ปกติ</p>
                <p><b>หัวฉีดน้ำมันเชื้อเพลิง : </b>ปกติ</p>
                <p><b>ปริมาณออกซิเจน : </b>ปกติ</p>
            </div> -->

        </div>
</body>

</html>