<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>
<body>
    <% include navbar.ejs %>
    <div style="margin:5%">
        <h1>HistoryUseMorcyc</h1>
        <table class="ui selectable celled table">
            <thead>
              <tr>
                <th>Date/Time</th>
                <th>MorcycID</th>
                <th>Time</th>
                <th>Cost</th>
                <th>Balance</th>
              </tr>
            </thead>
            <tbody>
                <% for(var i=0;i<(Hisuser.historyUser).length;i++) { %>
              <tr>
                <td><%= Hisuser['historyUser'][i]['dateUse'] %></td>
                <td><%= Hisuser['historyUser'][i]['IDmorcyc'] %></td>
                <td><%= Hisuser['historyUser'][i]['time'] %></td>
                <td><%= Hisuser['historyUser'][i]['cost'] %></td>
                <td><%= Hisuser['historyUser'][i]['balance'] %></td>
              </tr>
                <% } %>
            </tbody>
          </table>
    </div>
</body>
<script>
  var histo = JSON.parse('<%- JSON.stringify(Hisuser) %>');
  console.log(histo.historyUser);
</script>
</html>