<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>
<script>
    var socket = io();
    socket.on('alert', function(msg){
        swal(msg);
    setInterval({
        
    },3000);
    location.reload();
});
</script>
<body>
    <% include navbar.ejs %>
    <div style="margin:5%">
        <h1>History</h1>
        <div class="ui center aligned segment">
            <% for(var i=(historyy.length)-1;i>-1;i--) { %>
                <% if(true){ %>
            <a href="/admin/motorcycle/<%= historyy[i]['motorID'] %>"><button class="ui button"><%= historyy[i]['userID'] %> แจ้งว่า<%= historyy[i]['topic'] %>  MotorID: <%= historyy[i]['motorID'] %> เวลา <%= historyy[i]['date'] %>  </button></a>
            <div class="ui inverted divider"></div>
            <% } %>
            <% } %>
        </div>
    </div>

</body>

</html>