<!DOCTYPE html>
<html>

<head>
    <% include head.ejs %>
</head>
<% include alertscript.ejs %>

    <body>
        <% include navbar.ejs %>
        <div><br><br><br></div>
            <h1>
                <%= user['firstName'] %>
                    <%= user['lastName'] %>
            </h1>
            <hr>
            <div style="margin:5%">
                <div class="ui two column grid">

                    <div class="column">
                        <p>
                            <b>ID : </b>
                            <%= user['_id'] %>
                        </p>
                        <p>
                            <b>Name : </b>
                            <%= user['firstName'] %>
                                <%= user['lastName'] %>
                        </p>
                        <p>
                            <b>E-Mail : </b>
                            <%= user['email'] %>
                        </p>

                        <p>
                            <b>BookingID : </b>
                            <%= user['bookingID'] %>
                        </p>
                        <p>
                            <b>Wallet : </b>
                            <%= user['wallet'] %> Baht
                        </p>
                        <p>
                            <b>Rank : </b>
                            <%= user['pass'] %>
                        </p>
                        <p>
                            <b>Country : </b>
                            <%= user['address']['country'] %>
                        </p>

                    </div>
                    <div class="column">
                        <p>
                            <b>Tel : </b>
                            <%= user['tel'] %>
                        </p>
                        <p>
                            <b>House no. : </b>
                            <%= user['address']['number'] %>
                        </p>
                        <p>
                            <b>Vilage no. : </b>
                            <%= user['address']['moo'] %>
                        </p>
                        <p>
                            <b>Sub-distrct : </b>
                            <%= user['address']['tumbol'] %>
                        </p>
                        <p>
                            <b>District : </b>
                            <%= user['address']['district'] %>
                        </p>
                        <p>
                            <b>Provice : </b>
                            <%= user['address']['province'] %>
                        </p>
                        <p>
                            <b>Postcode : </b>
                            <%= user['address']['postcode'] %>
                        </p>
                    </div>
                </div>
                <hr>
                <center>
                    <div class="ui vertical labeled icon buttons">
                        <button class="ui button" id="img1">
                            <i class="id card icon"></i>
                            <i class="user icon"></i>
                            รูปคู่
                        </button>
                        <button class="ui button" id="img3">
                            <i class="id card outline icon"></i>
                            รูปหน้า
                        </button>
                        <button class="ui button" id="img2">
                            <i class="id card icon"></i>
                            รูปหลัง
                        </button>
                    </div>
                </center>
            </div>

            <!-- <div class="ui modal img1" style="height:50%;">
                <i class="close icon"></i>
                <img src="https://s3.amazonaws.com/morcyc4you/user/<%= user._id %>/<%= user.license.picOwn %>" style="max-width:100%; max-height:100%;">
            </div>
            <div class="ui modal img2" style="height:50%; z-index:8000">
                <i class="close icon"></i>
                <img src="https://s3.amazonaws.com/morcyc4you/user/<%= user._id %>/<%= user.license.picBack %>" style="max-width:100%; max-height:100%;">
            </div>
            <div class="ui modal img3" style="height:50%;">
                <i class="close icon"></i>
                <img src="https://s3.amazonaws.com/morcyc4you/user/<%= user._id %>/<%= user.license.picFront %>" style="max-width:100%; max-height:100%;">
            </div> -->

            </div>

            <script>

                $('#img1').click(function () {
                    swal({
                        title: "Card and your self",
                        html: '<img src="https://s3.amazonaws.com/morcyc4you/user/<%= user._id %>/<%= user.license.picOwn %>" style="max-width:100%; max-height:100%;">'
                    });
                });
                $('#img2').click(function () {
                    swal({
                        title: "Back of card",
                        html: '<img src="https://s3.amazonaws.com/morcyc4you/user/<%= user._id %>/<%= user.license.picBack %>" style="max-width:100%; max-height:100%;">'
                    });
                });
                $('#img3').click(function () {
                    swal({
                        title: "In front of card",
                        html: '<img src="https://s3.amazonaws.com/morcyc4you/user/<%= user._id %>/<%= user.license.picFront %>" style="max-width:100%; max-height:100%;">'
                    });
                });

            </script>

    </body>

</html>